@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #607274;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 0;
}
#logo {
  position: relative;
  color: aliceblue;
  background: #607274;
}
#logo img {
  width: 45px;
  height: 40px;
  background-color: #607274;
}
header nav {
  display: flex;
  gap: 10px;

}
header nav a {
  position: relative;
  text-decoration: none;
  padding: 12px 20px;
  color: aliceblue;
  font-weight: 600;
}
header nav a.active {
  background: var(--clr);
  color: #4c5f61;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
header nav a.active::before {
  content: " ";
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 0 5px var(--clr);
}

header nav a.active::after {
  content: " ";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-left-radius: 20px;
  box-shadow: -5px 5px 0 5px var(--clr);
}
section {
  width: 100%;
  height: 100vh;
  background-color: var(--clr);
}
#home {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: rgb(222, 208, 182);
  background: linear-gradient(
    0deg,
    rgba(222, 208, 182, 1) 0%,
    rgba(240, 227, 199, 1) 0%,
    rgba(222, 208, 182, 1) 10%,
    rgba(178, 165, 155, 1) 36%,
    rgba(222, 208, 182, 1) 52%,
    rgba(250, 238, 209, 1) 72%
  );
}
#about {
  padding: 15%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  background: rgb(215, 190, 146);
  background: linear-gradient(
    0deg,
    rgba(222, 208, 182, 1) 0%,
    rgba(215, 190, 146, 1) 0%,
    rgba(250, 238, 209, 1) 72%
  );
}
#about > h2 {
  margin-bottom: 20px;
  border-bottom: 4px solid #607274;
  color: #607274;
}
#skills {
  box-sizing: border-box;
  padding: 15px 9%;
  padding-bottom: 100px;
  background: rgb(178, 165, 155);
  background: linear-gradient(
    0deg,
    rgba(178, 165, 155, 1) 0%,
    rgba(229, 216, 193, 1) 28%,
    rgba(250, 238, 209, 1) 66%,
    rgba(215, 190, 146, 1) 88%
  );
}
#skills > h2 {
  text-align: left;
  padding-top: 3%;
  margin-bottom: 30px;
  border-bottom: 4px solid #607274;
  color: #607274;
}

#skills .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 25px;
}
#skills .container .card {
  box-shadow: 0 5px 10px #607274;
  border-radius: 25px;
  background: #fff;
  text-align: center;
  padding: 20px 15px;
}
#skills .container .card img {
  height: 80px;
}
#skills .container .card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  align-items: center;
}
#skills .container .card p {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px.0;
  line-height: 1.2;
}
#projects {
  box-sizing: border-box;
  padding: 15px 9%;
  background: rgb(96, 114, 116);
  background: linear-gradient(
    0deg,
    rgba(96, 114, 116, 1) 0%,
    rgba(178, 165, 155, 1) 100%
  );
}
#projects > h2 {
  text-align: left;
  padding-top: 3%;
  margin-bottom: 50px;
  border-bottom: 4px solid #607274;
  color: #607274;
}
#projects .container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 25px;
}
#projects .container .card {
  box-shadow: 0 10px 15px #607274;
  border-radius: 25px;
  background: #fff;
  text-align: center;
}
#projects .container .card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  align-items: center;
  padding: 15px;
}
#projects .container .card img {
  height: 200px;
  border-radius: 15px;
}
#projects .container .card p {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px.0;
  line-height: 1.2;
}
#projects .container #item1 {
  grid-area: 1 / 1 / 6 / 4;
}
#projects .container #item2 {
  grid-area: 1 / 4 / 6 / 7;
}
#projects .container #item3 {
  grid-area: 1 / 7 / 6 / 10;
}
#contact {
  box-sizing: border-box;
  padding: 15px 9%;
  background: rgb(96, 114, 116);
  background: linear-gradient(
    0deg,
    rgba(96, 114, 116, 1) 15%,
    rgba(152, 164, 165, 1) 25%,
    rgba(255, 255, 255, 1) 38%,
    rgba(219, 223, 224, 1) 47%,
    rgba(175, 184, 186, 1) 54%,
    rgba(145, 157, 159, 1) 63%,
    rgba(109, 126, 128, 1) 74%,
    rgba(96, 114, 116, 1) 84%
  );
}
#contact .contact-form h2 {
  text-align: left;
  padding-top: 3%;
  margin-bottom: 20px;
  border-bottom: 4px solid #faeed1;
  color: #faeed1;
}
#contact .contact-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  gap: 20px;
  font-weight: 400;
  font-size: 1rem;
}
#contact .contact-input {
  width: 400px;
  height: 50px;
  border: 3px solid #faeed1;
  outline: none;
  border-radius: 50px;
}
#contact .contact-form textarea {
  height: 140px;
  padding-top: 25px;
  border-radius: 20px;
}

#contact .contact-input:focus {
  border: 3px solid #d7be92;
}
#contact .contact-input::placeholder {
  color: #607274;
}
#contact .contact-form button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  color: #c29b59;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #faeed1, #b2a59b);
  cursor: pointer;
}
#contact .contact-form button:hover {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  color: #c29b59;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(200deg, #faeed1, #b2a59b);
}
hr {
  margin-top: 15%;
  border: 1.5px solid #c29b59;
}
#contact .social-icons {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;
  margin-top: 10px;
}
#contact .social-icons a {
  text-decoration: none;
  background-color: #faeed1;
  padding: 15px;
  border-radius: 50%;
  margin: 10px;
}
#contact .social-icons a i {
  font-size: 1.5rem;
  color: #607274;
  opacity: 0.9;
}
#contact .social-icons a:hover {
  background-color: #607274;
  color: #d7be92;
  transition: 0.5s;
}
#contact .social-icons a:hover i {
  background-color: #607274;
  color: #d7be92;
  transition: 0.5s;
}
#contact .footer-bottom {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
#contact .footer-bottom p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #594621;
}

section h1 {
  margin-top: 20px;
  font-size: 3rem;
  font-weight: 800;
  display: flex;
}
section h2 {
  font-size: 2.8rem;
  font-weight: 700;
}
section h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
section p {
  font-size: 1.1rem;
  font-weight: 600;
}
.zde {
  text-decoration: none;
  color: black;
}

.zde:hover {
  text-decoration: none;
  color: black;
  background-color: rgb(188, 182, 130);
}
